[Desktop Entry]
Type=Application
Name=Gnome-Pie
Comment=Cakes don't lie.
Exec=gnome-pie
Icon=gnome-pie
Categories=GNOME;Utility;
Keywords=Utility;Menu;
