Package: gnome-pie
Version: 0.1
Architecture: ARCH_REPLACE
Installed-Size: 600
Section: utils
Priority: optional
Copyright: 2011, Simon Schneegans
Maintainer: Simon Schneegans <simon.schneegans@vr-web.de>
Depends: libgtk2.0-0, libcairo2, libappindicator1, libgee2, libxml2, libxtst6, libgnome-menu2, libc6
Description: Visual application launcher
 Gnome-Pie is a visual application launcher, 
 which opens rings with user-defined actions at the pointer. 
 It supports various themes and a lot of different action types, 
 such as opening applications or pressing key strokes.
